$title: #fff;
$accent: #E74E0F;
$default: #1B2733;
$color-bg: #081724;

%opensans-600 {
  font-family: 'Open-Sans', sans-serif;
  font-weight: 600;
}

%roadradio-400 {
  font-family: 'RoadRadio-Regular', sans-serif;
  font-weight: 400;
}

%roadradio-700 {
  font-family: 'RoadRadio-Bold', sans-serif;
  font-weight: 700;
}

%roadradio-900 {
  font-family: 'RoadRadio-Black', sans-serif;
  font-weight: 900;
}

